@tailwind base;
@tailwind components;
@tailwind utilities;

.my-outline {
  @apply focus-visible:ring-2 ring-offset-4 outline-none ring-primary/50 ring-offset-inherit rounded 
}

.my-link {
  @apply transition-all duration-300 text-slate-500 font-semibold hover:text-primary 
}
